<link rel="stylesheet" href="/css/signup.css">

<!--sign up page-->
<div id="signup-container">
    <div class="container-border" class="center-align">
        <img src="/images/logo.png" alt="logo" class="logo-img">

        <!--sign up form-->
        <form action="/users/create" method="post" class="center-align">
            <div class="form-floating">
                <input type="text" name="name" required placeholder="Name" class="form-control my-2" id="nameInput">
                <label for="nameInput">Name</label>
            </div>
            <div class="form-floating">
                <input type="email" name="email" required placeholder="Email" class="form-control my-2" id="emailInput" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$">
                <label for="emailInput">Email</label>
            </div>
            <div class="form-floating">
                <input type="password" name="password" required placeholder="Password" class="form-control my-2" id="passwordInput">
                <label for="passwordInput">Password</label>
            </div>
            <div class="form-floating">
                <input type="password" name="confirmPassword" required placeholder="Confirm password" class="form-control my-2" id="confirmPasswordInput">
                <label for="confirmPasswordInput">Confirm password</label>
            </div>
            <input type="submit" value="Sign up" class="margin" id="submit-btn">
        </form>
    </div>
    <div class="my-4">
        <a href="/users/sign-in">Already have an account? Sign in</a>
    </div>
    <p><small>By Signing up you agree to our Terms, Privacy Policy and Cookie Policy.</small></p>
</div>