#signin-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}

.logo-img{
    width: 100px;
}

#loginimg{
    width: 100%;
    border-radius: 15px;
}

#signin-container #login-img-container{
    padding: 1rem;
    width: 50%;
}

#signin-container #login-form-container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    width: 40%;
    background-color: aliceblue;
}

#signin-container #login-form-container #submit-btn{
    background-color: #0598f2;
    color: white;
    border-radius: 10px;
    border: none;
}

#signin-container .container-border{
    border: 1px solid lightgray;
    padding: 0.5rem;
    width: 95%;
    margin: 5px 0;
    text-align: center;
}

#login-form-container img{
    padding: 10px;
}

#signin-container .margin{
    padding: 5px 5px;
    margin: 10px 5px;
    width: -webkit-fill-available;
}

#signin-container .center-align{
    text-align: center;
}

/*screen resizing*/
@media only screen and (max-width: 800px) {
    #loginimg{
        width: 0%;
    }
    #signin-container #login-img-container{
        width: 0%;
    }
    #signin-container #login-form-container{
        width: 100%;
    }
}